<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    {% if error == true %}
    <div class="redflash">
        <div class="flash_content">
            {% if error_type == "passwords_dont_match" %}
            <h4 id="passwords_dont_match">Passwords dont match! {error_type}</h4>
            {% elif error_type == "info_not_filed_out" %}
            <h4 id="info_not_filed_out">Info not filed out!!</h4>
            {% elif error_type == "gogo1" %}
            <h4 id="email_already_exists">E-mail Already Exists!</h4>
            {% endif %}
        </div>
    </div>
    {%  endif %}  
    
    <div class="framelogin">
        <img src="../static/logo-no-background1.png">
    </div> 
    <div class="login">
        {%block body%} {%endblock%}
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>
    </html>
















</body>
</html>