<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base{% endblock %}</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Frame</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.firstname}} {{user.lastname}}
                  </button>
                  {%if user.org == "" %}
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                  {%else%}
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/role">Roles</a></li>
                    <li><a class="dropdown-item" href="/members">Members</a></li>
                    <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </div>
                <a class="nav-link active" aria-current="page" href="/">Create</a>
                <a class="nav-link active" aria-current="page" href="/tickets">Tickets</a>
                  {%endif%}
              
              

              {% else %}
              <a class="nav-link active" aria-current="page" href="/sign-up">Signup</a>
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == "error" %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
            {% endfor %}
            {% endif %}
        {% endwith %}


{% block body %}{% endblock %}



<script method="text/javascript">
function deleteTicket(ticketId) {
    fetch("/delete-ticket", {
      method: "POST",
      body: JSON.stringify({ ticketId: ticketId }),
    }).then((_res) => {
      window.location.href = "/tickets";
    });
  }
</script>
<script method="text/javascript">
 function editTicket(ticketId, tickettitle, ticketbody, ticketowner, ticketsubmitter) {
    fetch("/tickets", {
      method: "POST",
      body: JSON.stringify({ ticketId: ticketId, tickettitle: tickettitle, ticketbody: ticketbody, ticketowner: ticketowner, ticketsubmitter: ticketsubmitter}),
    }).then((_res) => {
      window.location.href = "/tickets";
    });
  }
</script>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>