{% extends "base1.html" %}

{% block title%} Home Page {% endblock%}

{% block body %}
{%if user.org == ""%}
    <center>
        <h1>Someone must invite you to an organization!</h1>
        <img src="static/waiting1.jpg">
        <h2>Please wait...</h2>
        <h2>Or... you can create your own organization.</h2>
        <form method="post">
            <input id="org" name="org" class="settinginput">
            <button type="submit" id="btn">Create</button>
        </form>
    </center>
    {%else%}

<center><h1>Nice Dashboard</h1></center>

{%endif%}

{% endblock %}