{% extends "base1.html" %}

{% block title%} Home Page {% endblock%}

{% block body %}
{%if user.org == ""%}
    <center>
        <h1>Someone must invite you to an organization!</h1>
        <img src="static/waiting1.jpg">
        <h2>Please wait...</h2>
        <h2>Or... you can create your own organization.</h2>
        <input id="org" class="settinginput">
        <button type="button" id="btn">Create</button>
    </center>
    {%else%}

<center><h1>Nice Dashboard</h1></center>

{%endif%}



















<script>
    var org = document.getElementById("org");
    var btn = document.getElementById("btn");
    
    btn.addEventListener("click", function(){
        fetch("/createorg", {
                  method: "POST",
                  body: JSON.stringify({org: org.value}),
                }).then((_res) => {
                    window.location.href = "/";
                });
              })
    </script>



{% endblock %}