{% extends "base1.html" %}

{% block title%} Home Page {% endblock%}

{% block body %}

{%if user.org == ""%}
<center>
<h1>Someone must invite you to an organization!</h1>
<img src="static/waiting1.jpg">
<h2>Please wait...</h2>
<h2>Or... you can create your own organization.</h2>
<input id="org" class="settinginput">
<button type="button" id="btn">Create</button>
</center>

{%else%}

<form method="POST">

        <label for="title">Title</label>
        <input type="title" class="settinginput" id="title", name="title">
    
    
        
        <label for="body">Body</label>
        <input type="body" class="settinginput" id="body" name="body">
    
        
        <label for="owner">Owner</label>
        <input type="owner" class="settinginput" id="owner" name="owner">
    
        
        <label for="submitter">Submitter</label>
        <input type="submitter" class="settinginput" id="submitter" name="submitter">

    
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="urgency" name="urgency">
        <option selected>Urgency</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="type" name="type">
        <option selected>Type</option>
        <option value="support">Support</option>
        <option value="bug">Bug</option>
        <option value="project">Project</option>
    </select>
    <br>
    <button type="submit">Submit</button>

</form>
{%endif%}

<script>
var org = document.getElementById("org");
var btn = document.getElementById("btn");

btn.addEventListener("click", function(){
    fetch("/createorg", {
              method: "POST",
              body: JSON.stringify({org: org.value}),
            }).then((_res) => {
                window.location.href = "/";
            });
          })
</script>

{% endblock %}