<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>


<div class="framelogin">
    <img src="../static/logo-no-background1.png">

</div>
<form method="POST">
<div class="login">
    <h3>Login</h3>
    <p id="email1">E-mail</p>
    <input type="text" id="email" name="email">
    <p id="pass"> Password</p>
    <input type="password" name="password" id="password"> <br>
    <a id="forgot" href="#">Forgot Password</a> <br>
    <button type="submit">LOGIN</button>
  </form>
    <p id="signup">Or sign up using...</p>
    <a href="/sign-up"><button type="button">Sign Up</button></a>
</div>










