<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>


<div class="framelogin">
    <img src="../static/logo-no-background1.png">

</div>
{% if error == true %}
<div class="redflash">
    <div class="flash_content">
        {% if error_type == "user_doesnt_exist" %}
        <h4 id="email_already_exists">User Doesn't Exists!</h4>
        {% elif error_type == "invalid_password" %}
        <h4 id="email_already_exists">Invalid Password!</h4>
        {% elif error_type == "info_not_filed_out" %}
            <h4 id="info_not_filed_out">Info not filed out!</h4>
        {% endif %}
    </div>
</div>
{% endif %}
<form method="POST">
<div class="login">
    <h3>Login</h3>
    <p id="email1">E-mail</p>
    <input type="text" id="email" name="email">
    <p id="pass"> Password</p>
    <input type="password" name="password" id="password"> <br>
    <a id="forgot" href="#">Forgot Password</a> <br>
    <button type="submit">LOGIN</button>
  </form>
    <p id="signup">Or sign up using...</p>
    <a href="/sign-up"><button type="button">Sign Up</button></a>
</div>










