{% extends "base1.html" %}

{% block title%} Members {% endblock%}

{% block body %}
<h2>Add User to Organization</h2>
<form method="POST">
    <input id="email" name="email" class="settinginput1">
    <button type="submit" id="btn">Add User</button>
    
</form>

{%for member in members%}
<div class="user">
    <ul class="list-group">
        
            <p>E-mail: {{member.email}}</p>
            <p>Name: {{member.firstname}} {{member.lastname}}</p>
            <p>Role: {{member.role}}</p>
            
            
        
    </ul>

<div>
    <select class="form-select" aria-label="Default select example" id="select{{member.email}}" onchange="role1('{{member.email}}', 'select{{member.email}}')">
        <option selected>Select New Role</option>
        <option value="Reader">Reader</option>
        <option value="Editor">Editor</option>
        <option value="Administrator">Administrator</option>
        <option value="Super Administrator">Super Administrator</option>
    </select>
</div> 




<button type="button" id="remove" onclick="remove('{{member.email}}')">Remove</button>

</div>

{%endfor%}

<input id="grp" class="settinginput1">
<button type="button" onclick="addgroup('{{user.email}}')">Create Group</button> 

<h2><b>Groups in Organization</b></h2> <br>
{%for group in groups%}
<p>{{group.name}}</p>










{%endfor%}


{% endblock %}