{% extends "base1.html" %}

{% block title%} Members {% endblock%}

{% block body %}
<h2>Add User to Organization</h2>
<form method="POST">
    <input id="email" name="email" class="settinginput1">
    <button type="submit" id="btn">Add User</button>
    
</form>

{%for member in members%}
<ul class="list-group">
    <li class="list-group-item">
        <p>E-mail: {{member.email}}</p>
        <p>Name: {{member.firstname}} {{member.lastname}}</p>
        <p>Role: {{member.role}}</p>
        {% for group in member.groups%}
        <!-- this line appends the groups into a list-->
            {% set dummy = glist.append(group.name) %}
        {% endfor %}
        <!-- this line prints the list as a string-->
        <p>Groups: {{glist|join(", ")}}</p>
        {% set glist = [] %}
        {{glist}}
    </li>
</ul>
<select class="form-select" aria-label="Default select example" id="select{{member.email}}" onchange="role1('{{member.email}}', 'select{{member.email}}')">
    <option selected>Select New Role</option>
    <option value="Reader">Reader</option>
    <option value="Editor">Editor</option>
    <option value="Administrator">Administrator</option>
    <option value="Super Administrator">Super Administrator</option>
  </select>
  
  
<button type="button" id="changegroups">Change Groups</button>
<button type="button" id="remove" onclick="remove('{{member.email}}')">Remove</button>
{%endfor%}

<input id="grp" class="settinginput1">
<button type="button" onclick="addgroup('{{user.email}}')">Create Group</button> 

<h2><b>Groups in Organization</b></h2> <br>
{%for group in groups%}
<p>{{group.name}}</p>










{%endfor%}
















<script>
var crole = document.getElementById("changerole");
var cgroup = document.getElementById("changegroups");

function remove(email){
    fetch("/removeorg", {
              method: "POST",
              body: JSON.stringify({ email: email}),
            }).then((_res) => {
                window.location.href = "/members";
            });
          
}

function role1(email, id){
v = document.getElementById(id).value;


    fetch("/changerole", {
              method: "POST",
              body: JSON.stringify({ email: email, role: v}),
            }).then((_res) => {
                window.location.href = "/members";
            });
          
}

function addgroup(user){
var group = document.getElementById("grp")
console.log(group.value)
    fetch("/addgroup", {
              method: "POST",
              body: JSON.stringify({ group: group.value, email: user}),
           }).then((_res) => {
                window.location.href = "/members";
            });
          
}





</script>







{% endblock %}