{% extends "base1.html" %}

{% block title%} Owner Change {% endblock%}
{% block body %}
<form method="post" action="/owner_change">
    <h4>Please Select owner for ticket {{ticket}} </h4>
    
    {% for member in members %}
    <form method="post" action="/owner_change">
        <div class="groups">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio_group" value="{{member.email}}">
            <label class="form-check-label" for="flexRadioDefault1">
            {{member.email}} 
            </label>
        </div>
        </div>
        
  
  
    {% endfor %}
    <button type="submit>">Submit</button>
</form>




{% endblock %}