{% extends "base1.html" %}

{% block title%} Settings {% endblock%}

{% block body %}
<p class="text-start">E-mail: {{ user.email }}</p>
<p class="text-start">Full Name: {{ user.firstname }} {{ user.lastname }}</p>
<p class="text-start">Role: {{ user.role }}</p>
<form method="POST">
    <div class="mb-3">
      <label for="newpassword" class="form-label">New Password</label>
      <input type="newpassword" class="settinginput" id="newpassword" name="newpassword"> <br> <br>
      <label for="newpassword2" class="form-label">Confirm New Password</label>
      <input type="newpassword2" class="settinginput" id="newpassword2" name="newpassword2">
    </div>
    
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>

{% endblock %}