{% extends "baselogin.html" %}

{% block title%} Sign Up {% endblock%}

{% block body %}
<form method="POST">
  <h3>Sign Up</h3>
  
  <p id="email1">E-mail</p>
  <input type="text" id="email" name="email">
  
  <p class="name"> First Name</p>
  <input type="text" name="firstname" id="firstname"> <br>
  
  <p class="name"> Last Name</p>
  <input type="text" name="lastname" id="lastname"> <br>

  <p id="pass"> Password</p>
  <input type="password" name="password1" id="password1"> <br>
  
  <p id="cpass"> Confirm Password</p>
  <input type="password" name="password2" id="password2"> <br>

  <button type="submit">Register</button>

</form>
<p id="signup">Or login using...</p>
<a href="/login"><button type="button">Login</button></a>

{% endblock %}