{% extends "base1.html" %}

{% block title%} Tickets {% endblock%}

{%block navbar %}


{%endblock%}

{% block body %}

<br>
<div class="dropdown">
  <div class="filter_button">
    <button button class="dropbtn" onclick="openFilterModal()" id="filterbtn">Filter</button>
  </div> 
</div>



<ul class="list-group">

    {% for ticket in tickets %}
    
        <p1  id="id">{{ticket.id}}</p1>
        <p1><b>Title:</b> {{ ticket.title }}</p1>
        <p1><b>Description:</b> {{ ticket.body }}</p1>
        <p1><b>Ticket Owner:</b>{{ ticket.owner }}</p1>
        <p1><b>Ticket Submitter:</b> {{ ticket.submitter }}</p1>
        <p1><b>Ticket Type:</b> {{ ticket.type }}</p1>
        <p1><b>Urgency:</b> {{ ticket.urgency }}</p1>

        <button  id="btn_{{ticket.id}}" onclick="GotoTicket('{{ticket.id}}')">View</button>
        
        {% if user.role == "Administrator" %}
         
        <button  type="button" onclick="deleteTicket('{{ticket.id}}')">Delete</button>

        {% elif user.role == "Super Administrator" %}
         
        <button  type="button" onclick="deleteTicket('{{ticket.id}}')">Delete</button>
                
        
        {% endif %}
    
    {% endfor %}



</ul>



<div class="modal-wrapper" id="modal-wrapper-filter">
  <div class="modal" id="modal-filter">
    <div class="select_type">
      <div class="select_row">
        <form method="post" action="/filter">
          <div class="select_box">
            <h4>Please Select a Filter Type</h4>
              
              <select class="form-select" multiple aria-label="multiple select example" id="type_" name="type_">
                  <option value="id">ID</option>
                  <option value="owner">Owner</option>
                  <option value="group">Group</option>
                  <option value="submitter">Submitter</option>
                  <option value="all">All</option>
              </select>
          </div>
          <div>
            <label>Please Enter Filter</label>
          </div>
          <div>
            <input type="text" id="filter_input" name="filter_input">
          </div>
            



          <button id="close-modal" onclick="closeFilterModal()">Close</button>
          <button type="submit" id="submit_filter_button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}