{% extends "base1.html" %}

{% block title%} Home Page {% endblock%}

{% block body %}


<div class="ticket_">
    <label>Ticket ID: {{ticket.id}}</label>
    <div class="label_ticket">
        <label>Title: </label> <input type="text" value="{{ticket.title}}">
    </div>
    <div class="label_ticket">
        <label>Description: </label> <input type="text" value="{{ticket.body}}">
    </div>
    <div class="label_ticket">
        <label>Owner: </label> <input type="text" value="{{ticket.owner}}">
    </div>
    <div class="label_ticket">
        <label>Submitter: </label> <input type="text" value="{{ticket.submitter}}">
    </div>
    <div class="label_ticket">
        <label>Type: </label> <input type="text" value="{{ticket.type}}">
    </div>
    <div class="label_ticket">
        <label>Urgency: </label> <input type="text" value="{{ticket.urgency}}">
    </div>
    <div class="label_ticket">
        <label>Group: </label> <input type="text" value="{{ticket.group.name}}">
    </div>  
    <div class="label_ticket">
        <label>Status: </label> <input type="text" value="{{ticket.status}}">
    </div>

<div>
    <label>Comments: </label> <input type="text" value="{{ticket.comments}}">
</div> 










{% endblock%}