{% extends "base1.html" %}

{% block title%} Tickets {% endblock%}

{%block navbar %}
<div class="searchbar">
  <button class="dropbtn">Add filter</button>
  <input class="search" type="text">
</div>
{%endblock%}

{% block body %}

<ul class="list-group">
    {% for ticket in tickets %}
    
        <p1  id="id">{{ticket.id}}</p1>
        <p1><b>Title:</b> {{ ticket.title }}</p1>
        <p1><b>Description:</b> {{ ticket.body }}</p1>
        <p1><b>Ticket Owner:</b>{{ ticket.owner }}</p1>
        <p1><b>Ticket Submitter:</b> {{ ticket.submitter }}</p1>
        <p1><b>Ticket Type:</b> {{ ticket.type }}</p1>
        <p1><b>Urgency:</b> {{ ticket.urgency }}</p1>

        <button  id="btn_{{ticket.id}}" onclick="GotoTicket('{{ticket.id}}')">View</button>
        
        {% if user.role == "Administrator" %}
         
        <button  type="button" onclick="deleteTicket('{{ticket.id}}')">Delete</button>

        {% elif user.role == "Super Administrator" %}
         
        <button  type="button" onclick="deleteTicket('{{ticket.id}}')">Delete</button>
                
        
        {% endif %}
    
    {% endfor %}



</ul>



<script>
function GotoTicket(ticketId) {
            fetch("/tickets", {
              method: "POST",
              body: JSON.stringify({ ticketId: ticketId}),
            }).then((_res) => {
                window.location.href = "/ticket";
            });
          }
        
</script>














{% endblock %}